@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@import '../node_modules/@syncfusion/ej2-react-schedule/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-base/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/tailwind.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/tailwind.css';

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

table{
    @apply mt-4 m-auto  
}
td {
    @apply  border w-96 text-center
}